[submodule "powerlevel10k"]
	path = config/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh-autosuggestions"]
	path = config/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-completions"]
	path = config/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-syntax-highlighting"]
	path = config/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh-vim-mode"]
	path = config/plugins/zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode
